<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="come491.hanibana">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaniBana.NoActionBar">
        <activity
            android:name=".Screen.detail.confirm_basket"
            android:exported="false" />
        <activity
            android:name=".Screen.detail.basket"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.HaniBana.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screen.Category.favorite"
            android:exported="false" />
        <activity
            android:name=".Screen.detail.product_detail"
            android:exported="false" />
        <activity
            android:name=".Screen.Category.subCategory"
            android:exported="false" />
        <activity
            android:name=".Screen.Category.produstList"
            android:exported="false" />
        <activity
            android:name=".Screen.home.home"
            android:exported="false" />
    </application>

</manifest>